#StartUpWindow
{
	-fx-background-color: green;
	-fx-background-position: center center;
	-fx-background-size: 700, 353;
}

.button
{
	-fx-background-color: red;
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}